<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street</th>
                <th>Zip Code</th>
                <th>City</th>
            </tr>
            <tr>
                <td>dietrich</td>
                <td>Richter</td>
                <td>schwaneburger straße 19</td>
                <td>26169</td>
                <td>Friesoythe</td>
            </tr>
            <tr>
                <td>dietrich</td>
                <td>Richter</td>
                <td>schwaneburger straße 19</td>
                <td>26169</td>
                <td>Friesoythe</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add User">
    <mat-icon>add</mat-icon>
</button>